body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(164, 164, 164);
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(122, 137, 209);
    border-radius: 50px;
    color: black;
  }
  
  .topnav a.active {
    background-color: darkblue;
    color: white;
  }
  
  .topnav button {
    float: left;
    color: #f2f2f2;
    background-color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav .logout {
    float: right;
  }
  .topnav button:hover {
    background-color: rgb(231, 172, 172);
    color: black;
  }
  .topnav button.active {
    background-color: darkblue;
    color: white;
  }