html,
body {
    display: flex;
    justify-content: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
}

form {
    border: 5px solid #f1f1f1;
    max-width: 600px;
}

.container input {
    width: 100%;
    padding: 12px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.button {
    background-color: #4286f4;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    cursor: grab;
    width: 50%;
    border-color: #1e5fc9;
}

.button:hover {
    background-color: #1e5fc9;
}

h1 {
    text-align: center;
    font-size: 18;
}


.formcontainer {
    text-align: center;
    margin: 24px 50px 12px;
}

.container {
    padding: 16px 0;
    text-align: left;
}

.gendercontainer {
    padding-bottom: 10px;
    text-align: left;
}

.rg {
    float: center;
    padding: 5px;
    background-color: #eee;
}


